{% extends 'form/base.html' %}
{% block content %}
<div class="container">
  <h3><b>About Us</b></h3>
  <p>This website is developed by Jay Sanghani and Hitarth Shah as a part of System Design Practices (SDP)</p>
  <p>Email : hitarth.shah.837@gmail.com || jaysanghani2000@gmail.com</p>
  <strong>Build : 1.0</strong><br>
  <strong>Unauthorised reproduction or Distribution of this program may result in severe civil and criminal penalties and will be prosecuted to the maximum extent possible under the law.</strong>
  
  
</div>
{% endblock content %}
