{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form3C+</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Form3C+</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Entry <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Receipt</a></li>
          <li class="divider"></li>
          <li><a href="#">Income</a></li>
          <li><a href="#">Expense</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Master<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Treatement</a></li>
          <li><a href="#">Sub Treatement</a></li>
          <li class="divider"></li>
          <li><a href="#">Receipt Type</a></li>
          <li><a href="#">Income Type</a></li>
          <li><a href="#">Expense Type</a></li>
          <li class="divider"></li>
          <li><a href="#">Hospital</a></li>
          <li><a href="#">Financial Year</a></li>
          <li class="divider"></li>
          <li><a href="#">Change Password</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Form3C</a></li>
          <li class="divider"></li>
          <li><a href="#">Receipt Summary Collection</a></li>
          <li><a href="#">Daily Collection Summary</a></li>
          <li><a href="#">Treatmentwise Collection Summary</a></li>
          <li><a href="#">Treatmentwise  Summary</a></li>
          <li class="divider"></li>
          <li><a href="#">Expense Register</a></li>
          <li><a href="#">Expense Typewise Summary</a></li>
          <li><a href="#">Expense Summary</a></li>
          <li class="divider"></li>
          <li><a href="#">Income Register</a></li>
          <li><a href="#">Income Summary</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Backup <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Backup by Date</a></li>
          <li><a href="#">Backup by database</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Miscellaneous <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </li>
    </ul>
    <div class="btn-group">
 <button class="btn btn-primary navbar-btn">Research Data</button>
</div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</nav>
 <nav>
  
   <nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">New <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Receipt</a></li>
          <li class="divider"></li>
          <li><a href="#">Treatment</a></li>
          <li><a href="#">Sub Treatment</a></li>
          <li class="divider"></li>
          <li><a href="#">Income</a></li>
          <li><a href="#">Expense</a></li>
        </ul>
      </li>
      <li><a href="#">Reciept</a></li>
      <li><a href="#">Reciept Print</a></li>
    </ul>
    
  </div>
</nav>
</nav>
<!-- Background image -->
  <div class="p-5 text-center bg-image" style="background-image: url('{% static 'images/hos1.jpg' %}');
      height: 400px;">
    
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<div class="container">
  <h3 style="text-align: center; background-color ='black';">Form3C+ is for medics</h3>

</div>
</body>
</html>