{% extends 'form/base.html' %}
{% block content %}
<div class="container">
  <h3><strong>Disclaimer</strong><br></h3>
  <p>This software product is provided "as is" and "with all faults." We have made all possible efforts to ensure that Form3C++ is free of any bugs or error and is up-to-date with latest Changes; however in no way, Form3C++ is to be considered error and bug free. We provide no warranty,expressed or implied, as to correctness of the furnished software or the suitability for compactible with your equipment and other softwares equipped in your system. You are solely resonsible for protection and backup of your data, and we may not be liable for any damages you may suffer in connection with using, modifying, or distributing this WEBSITE. You are advised to verify all the calculations,returns manually by yourself and verify rules used in website with Goverment Laws.  </p>
  <strong><center>IN NO EVENT WILL HITARTH SHAH AND JAY SANGHANI BE LIABLE TO YOU FOR ANY GENERAL, SPECIAL, INDIRECT, </strong><br>
    <strong><center>CONSEQUENTIAL, INCIDENTAL OR OTHER DAMAGES ARISING WITH USE OF Form3C++</strong><br>
  
  
</div>
{% endblock content %}
