{% extends "form/startnav.html"%}
{% load static %}
{% block content %}
  <div class="p-5 text-center bg-image" style="background-image: url('{% static 'images/hos2.jpg' %}');
      height: 400px;">
    
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          
        </div>
      </div>
    </div>
  </div>
  <div class="content">
</div>
    <footer id="myFooter" style=" background-color: #3a3f46;
    color: white;">
        <div class="container">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-3">
                    <h5 style="font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;">Get started</h5>
                    <ul style="list-style-type: none;
    padding-left: 0;
    line-height: 1.7;">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Tutorial</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;">About us</h5>
                    <ul style="list-style-type: none;
    padding-left: 0;
    line-height: 1.7;">
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">License</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;">Support</h5>
                    <ul style="list-style-type: none;
    padding-left: 0;
    line-height: 1.7;">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info" style="text-align: justify; 
    color: #afb0b1;">
                    <h5 style="font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;">Information</h5>
                    <p style="color: grey"> Form3C+ is website to maintain hassle free account records for all medical Practitioners like PHYSICIANS, SURGEONS, DENTISTS, PATHOLOGISTS, RADIOLOGISTS, etc… </p>
                </div>
            </div>
        </div>
        <div class="second-bar" style="color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;">
           <div class="container">
                <h2 class="logo" style=" margin-top: 10px;"><a href="#">FORM3C+ </a></h2>
                <div class="social-icons">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}